# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.sln
*.user
*.userprefs
*.opensdf
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
*.xcuserstate
*.vscode

# Do NOT ignore these folders:
!Content/
!Config/
!Source/
!*.uproject

# Ignore built packages
*.pak
*.apk
*.ipa
Build/

# Ignore Crash Reports
*.dmp

*.apk
*.exe
*.obb
Build/
App/

# No subir builds a GitHub
App/
Saved/
Intermediate/
DerivedDataCache/
